.homepage {
    background:
    url('../../images/yellowshirt.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    opacity: 50;
    background-size:cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
}

.speak {
    position: relative;
    margin-top: 225px;
    font-size: 7.5vw;
    margin-left: auto;
    margin-right: 5%;
    font-style: italic;
}

.yourtruth {
    position: relative;
    font-size: 7.5vw;
    margin-left: auto;
    margin-right: 5%;
    margin-top: -55px;
    font-style: italic;
}
