.homepage {
    background:
    url('../../images/yellowshirt.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    opacity: 50;
    background-size:cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
}

/* .speak {
    margin-top: 350px;
    font-size: 7.5vw;
    align-t;
    margin-right: 25px;
    font-style: italic;
}

.yourtruth {
    margin-top: 475px;
    font-size: 7.5vw;
    
    margin-right: 25px;
    font-style: italic;
} */
