.homepage {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
  };

.homepageContent{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 40px;
  font-style: italic;
  font-weight: bolder;
  margin-top: 450px;
}  

@media (min-width: 650px) {
.homepage {
  background-position: center center;
  }

.homepageContent {
  align-items: flex-end;
  justify-content: center
}};
