body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



font {
font-family: 'Montserrat', sans-serif;
font-family: 'Muli', sans-serif;
font-family: 'Bebas Neue', cursive;
font-family: 'Heebo', sans-serif;
font-family: 'Mukta', sans-serif;
font-family: 'Shadows Into Light', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Homemade Apple', cursive;
font-family: 'Reenie Beanie', cursive;
font-family: 'PT Serif Caption', serif;
font-family: 'Rock Salt', cursive;
font-family: 'Sintony', sans-serif;
font-family: 'Sawarabi Gothic', sans-serif;
}
